
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.Paperstyle
{
    border-radius: 50;
    align-items: center;

    margin: auto auto;
    margin-top: 50px;
    max-width: 50%;
}


.gapbetwen
{
    margin-top: 10px;

}
.imgstyle
{
    border-radius: 50;
    max-width:100%;
    max-height:100%;

}
.table 
{
    min-width: 50%;

}
.Table-header
{    background-color:#cfd8dc;
    font-style:oblique;
}
.Tablecontainer
{
    border-radius: 50;
    align-items: center;
    margin: 0 auto;
    max-width: fit-content;    
  

}


